/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
   padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

/* Set core body defaults */
body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
   list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
   max-width: 100%;
   display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
   margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: border-box
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
   margin: 0
}

ul[role="list"], ol[role="list"] {
   list-style: none
}

html:focus-within {
   scroll-behavior: smooth
}

body {
   min-height: 100vh;
   text-rendering: optimizeSpeed;
   line-height: 1.5
}

a:not([class]) {
   text-decoration-skip-ink: auto
}

img, picture {
   max-width: 100%;
   display: block
}

input, button, textarea, select {
   font: inherit
}

@media(prefers-reduced-motion:reduce) {
   html:focus-within {
      scroll-behavior: auto
   }

   *, *::before, *::after {
      animation-duration: .01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: .01ms !important;
      scroll-behavior: auto !important
   }
}











body#LoginBody {
   background-image: url("Images/BackLogin.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
}


div.header {
   text-align: center;
   text-shadow: 15px 10px 5px midnightblue;



}

div.header h1 {
   font-size: 50px;
   color: rgb(47, 255, 85);
   margin-top: 50px;



}


div.header h1:after {
   content: '';
   display: block;
   height: 5px;
   margin: 0 auto;

}

div.header h1 {
   margin-bottom: 60px;
   padding: 10px;
}






div.login form {
   margin: 0 auto;
   margin-top: 130px;
   width: 600px;

   height: 400px;
   background-color: rgba(0, 0, 0, .5);
   border: 2px solid;
   border-radius: 5px;
   border-color: white;
   padding: 100px;





}

div.login form {
   position: relative;
   top: 30px;
}

div.loginArea label {
   margin-top: 20px;
}

div.loginArea label {

   display: block;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
   color: white;
}

div.loginArea input {
   height: 30px;
   width: 100%;
   border: 2px solid purple;
}

div.loginButton button {

   margin-left: 150px;
   width: 70px;
   height: 35px;
   font-weight: bold;
   background-color: cyan;
   color: black;


}



div.Info h3 {
   text-align: center;
   font-size: 40px;
   margin-bottom: 5px;
   margin-top: -80px;
   color: cyan;
}

div.loginButton button:hover {
   color: orange;
}

div.loginButton button:hover {
   background-color: darkmagenta;
}

div.loginButton button:active {
   background-color: rgb(43, 226, 67);
}

div.loginArea {
   padding-bottom: 50px;
   padding-top: -100px;
}


div.banner {
   background-image: url("Images/BackHome.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;

   padding-bottom: 100px;
   padding-top: 100px;
   height: 80vh;

}

div.HomepageContainer {
   width: 100%;
   max-width: 900px;
   height: 70vh;
   margin: 0 auto;



}

h1.IMS {
   color: white;
   font-size: 50px;
   text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

div.Heading {
   font-size: 30px;
   color: rgb(47, 255, 85);
   text-shadow: 5px 5px 2px darkcyan;
}

p.SubHeading {

   font-size: 25px;
   color: cyan;
   background-color: rgba(0, 0, 0, .5);
   margin-top: 10px;


}

div.Icons {

   height: 200px;
   margin-top: 100px;
}


div.Icons a {


   margin-left: 70px;
   color: rgb(250, 0, 112);
   font-size: 30px;
   background-color: lightgreen;
   border-radius: 40%;
   padding-left: 12px;



}

.fa-android {

   width: 42px;
   height: 50px;

}


.fa-apple {
   width: 42px;
   height: 50px;

}

.fa-windows {
   width: 42px;
   height: 50px;

}

div.Icons a:first-child {
   margin-left: 0px;
}

div.Icons a:hover {
   color: blue;
   font-size: 25px;



}

div.HpFeatures {
   display: flex;
   flex-direction: row;
   margin-left: 20px;
   margin-top: 5px;
}

div.HpFeature1 {

   margin-right: 120px;
   padding: 10px 20px;

}

div.HpFeature2 {
   margin-left: 90px;
   padding: 10px 20px;
}

div.HpFeature3 {
   margin-left: 200px;
   padding: 10px 20px;
}

span.FeatureIcon {
   height: 100px;
   width: 100px;
   font-size: 40px;
   color: blueviolet;

}

div.HomepageNotified {
   background: #e3e3e3;
   margin-top: -350px;
   padding-top: 20px;
   height: 250px;
   padding-right: 400px;


}






div.HomepageNotifiedContainer {
   display: flex;
   flex-direction: row;
   padding-left: 300px;



}

div.HomepageNotified h3 {
   margin-bottom: 20px;

}

div.FormContainer {
   width: 80%;

}

div.FormContainer input {
   width: 300px;
   padding: 15px 10px;


}

div.FormContainer button {
   position: absolute;
   background: pink;
   margin-top: 20px;
   margin-left: 95px;
   width: 100px;

}

div.Word {
   margin-right: 200px;
}

div.Socials {
   text-align: center;
   padding: 50px 0px 20px 0px;

}

div.SocialIcons a {
   font-size: 20px;
   width: 50px;
   height: 50px;
   display: inline-block;
   background-color: cyan;
   border-radius: 50px;
   padding-top: 10px;
   margin-left: 20px;
   margin-top: 35px;




}

div.SocialIcons a:hover {
   background-color: forestgreen;
   transition: 0, 3s all;
}

div.BottomInfo {
   background-color: #e3e3e3;
   background-size: cover;
   background-repeat: r repeat-y;
   padding-top: 180px;
   padding-bottom: 80px;
   text-align: center;
   margin-top: -390px;
   height: 100px;
   margin-bottom: -30000px;

}

div.BottomInfo a {
   color: chocolate;
   margin-left: 30px;
}

div.Header1 {
   padding-bottom: 20px;
   background-color: chocolate;
   padding-left: 20px;

}

.TopLogin {
   margin-left: 1200px;
   margin-top: 10px;
   background-color: lawngreen;


}

#down {
   height: -1220px;


}

h2.InsideTopLogin {
   color: darkred;
}

div.BottomInfo {
   padding-bottom: 300px;
}

div.Header1 a:hover {
   background-color: gray;
}

div.Header1 .TopLogin a:active {
   background-color: rgba(76, 0, 255, 0.281);
}

#DashboardMainContainer {
   display: flex;
   flex-direction: row;
}

div.DashboardSidebar {
   width: 20%;
   background-color: #323232;
   height: 100vh;
}

div.DashboardContentContainer {
   width: 80%;
   background-color: lavender;

}

h2.DashboardLogo {
   color: #f685a1;
   font-size: 80px;
   text-align: center;
}

div.DashboardSidebarUser span {
   top: 20%;
   font-size: 23px;
   color: white;
   margin-top: -25px;

}

div.DashboardSidebarUser {
   text-align: center;
   position: relative;
   padding-bottom: 20px;
   border-bottom: 4px solid #f685a1;
}

ul.DashboardMenuList li.liMainMenu {
   padding-top: 15px;
   font-size: 19px;
   text-transform: uppercase;
   


}

ul.DashboardMenuList li.liMainMenu a{  
   text-decoration: none;
   padding: 0px 15px;
   font-size: 18px;
   padding-bottom: 15px;
   padding-right: 0px;
   color: cyan;
}

ul.subMenus li a {
   padding: 10px 0px;
   font-size: 16px;

   
}

ul.DashboardMenuList li.liMainMenu a li{
   padding-top: 22px;
   color: cyan;

}
.fa-gauge {
   font-size: 33px;
   padding-right: 10px;
   color: white;
   

}

.fa-user-plus {
   font-size: 29px;
   padding-right: 10px;
   color:burlywood;


}

.fa-cart-shopping{
   font-size: 29px;
   padding-right: 10px;
   color:lawngreen;
}


.fa-arrows-spin{
   font-size: 29px;
   padding-right: 10px;
   color: white;
}

  
.fa-circle{
   font-size: 18px;
   padding-left: 30px;
   padding-right: 30px;
   color: white;

}

.fa-truck{
   font-size: 29px;
   padding-right: 10px;
   color:orange;
}






 
ul.DashboardMenuList li:hover {
   background-color: #f685a1;
}

ul.DashboardMenuList li:active {
   background-color: mediumseagreen;
   transition: 0.3s all;
}

div.DashboardContentTopNav {

   padding: 20px;
   background-color: cyan;
}

div.DashboardContentTopNav a {
   font-size: 20px;
}

div.Logout {
   float: right;
}

div.DashboardContentTopNav a:hover {
   color: #f685a1;
   font-size: 25px;
}

div.DashboardContentTopNav a:active {
   color: red;

}

.fa-power-off {
   color: red;

}

div.DashboardContentMain {
   background: white;
   min-height: 600px;
   height: 100%;

}

div.DashboardContent {
   padding: 50px 10px 10px 10px;
}

div#errorMessage {
   background-color: white;
   text-align: center;
   color: red;
   font-size: 20px;
   padding: 11px;
}

form::after {
   content: '';
   clear: both;
   display: block;
}

form.app-form{
   width: 90%;
   padding: 10px;
   border: 5px solid pink;
   border-radius: 5px;
   margin-top: 8px;
   margin: 0 auto;
   background-color: bisque;
   padding-bottom: 20px;
   

}

form label {

   font-weight: bold;
}

input.appforminput {
   width: 100%;
   height: 33px;
   border: 2px solid orange;
   border-radius: 5px;
}

div#appformInputcontainer {
   margin-bottom: 15px;
}

div.useraddformcontainer {
   padding-top: 100px;
}

button.appbtn {
   background-color: darkgreen;
   border: 2px solid hotpink;
   color: burlywood;
   padding: 10px;
   margin-top: 20px;
   float: center;
}
p.responseMessage {
   font-size: 25px;

}

p.responseMessage_error {
   background: rgba(128, 0, 0, 0.1);

}

p.responseMessage_success {
   background: yellowgreen;

}



/* user add page */


   


div.row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;

}
div.column{
   width: 100%;
   padding: 0px 10px;
}

div.column {
   padding: 0px 10px;
   width: 100%;
}

div.column-5 {
   width: 41.67%;
}

div.column-7 {
   width: 58.33%;
}

h1.section_header {
   font-size: 28px;
   color: palevioletred;
   border-bottom: 1px solid #9a9a9a;
   padding-bottom: 12px;
   border-left: #f696bf 4px solid;

}



div.useraddformcontainer {
   margin-bottom: 20px;
   padding-bottom: 50px;
}

.fa-plus {
   padding-left: 9px;
   padding-right: 12px;
   color: violet;
   background-color: yellowgreen;
   margin-left: 9px;
}

.fa-list {
   padding-left: 9px;
   padding-right: 12px;
   color: burlywood;
   background-color: white;
   margin-left: 9px;
}

 table, th, td {
   border: 2px solid darkblue;
   border-collapse: collapse;
}
td{
   background-color:bisque;
   
}

 table {
   width: 100%;
 }
 table th{
   font-size: 15px;
   text-transform: uppercase;
   text-align: center;
   background-color: burlywood;
 }

table td{
   font-size: 13px;
   text-align: center;

}


p.usercount{
   text-align: right;
   font-size: 18px;
   font-weight: bold;
   color:#f685a1;
}

a.subMenuLink{
   padding-left: 25px !important;
   padding-top: 10px !important;
   padding-bottom: 10px !important;
   text-transform: none ; 
   font-size: 15px !important; 
}

a.subMenuLink i{
   
   font-size: 18px !important;
   width: 16px    !important;
   
} 
 ul.subMenus{
   background: #c26a80;
   display: none;
   
 } 

  i.mainMenuIconArrow{
    float: right;
    font-size: 19px;
    margin-top: 7px;

  }
  /* .subMenuActive{
   font-weight: bold;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   background-color: #763a49;
   } */
  .subMenuActive{
   font-weight: bold;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   background-color: #763a49;
   }